{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Yass Pharmacy </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">


  <link rel="stylesheet" href="{% static 'website/fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/aos.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
</head>

<body>
  <div class="site-wrap">

    <div class="site-navbar py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="{% url 'shop' %}" class="js-logo-clone">Yass Pharmacy</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
               <li><a href="{% url 'shop' %}">Home</a></li>
<li><a href="{% url 'boutique' %}">Store</a></li>
<li><a href="{% url 'about' %}">About</a></li>
<li><a href="{% url 'contact' %}">Contact</a></li>

              </ul>
            </nav>
          </div>
          <div class="icons">
            
            <a href="{% url 'cart' %}" class="icons-btn d-inline-block bag">
              <span class="icon-shopping-bag"></span>
             
            </a>
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none">
              <span class="icon-menu"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0">
        <a href="{% url 'shop' %}">Home</a> <span class="mx-2 mb-0">/</span>
        <strong class="text-black">Cart</strong>
      </div>
    </div>
  </div>
</div>
<div class="site-section">
  <div class="container">
    <div class="row mb-5">
      <form method="post" action="{% url 'update_cart' %}">
  {% csrf_token %}

        <div class="site-blocks-table">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="product-thumbnail">Image</th>
                <th class="product-name">Product</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Quantity</th>
                <th class="product-total">Total</th>
                <th class="product-remove">Remove</th>
              </tr>
            </thead>
            <tbody>
              {% for item in cart_items %}
              <tr>
                <td class="product-thumbnail">
                  <img src="{{ item.product.image.url }}" alt="Image" class="img-fluid">
                </td>
                <td class="product-name">
                  <h2 class="h5 text-black">{{ item.product.name }}</h2>
                </td>
                <td>{{ item.product.price }} DH </td>
                <td>
                  <div class="input-group mb-3" style="max-width: 120px;">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                    </div>
                    <input name="quantity_{{ item.id }}" type="text" class="form-control text-center input-quantity" value="{{ item.quantity }}">

                    <div class="input-group-append">
                      <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                    </div>
                  </div>
                </td>
                <td>{{ item.total_price }} DH</td>
                <td><a href="{% url 'remove_from_cart' item.id %}" class="btn btn-primary height-auto btn-sm">supprimer</a></td>
              </tr>
              {% endfor %}
              <tr>
                <td colspan="4" class="text-right"><strong>Total</strong></td>
                <td colspan="2"><strong>{{ cart_total }} DH</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row mb-5">
    <div class="col-md-6">
      <a href="{% url 'boutique' %}" class="btn btn-outline-primary btn-md btn-block">Continue Shopping</a>
    </div>
  </div>
        <div class="col-md-6 mb-3 mb-md-0">
      <button type="submit" class="btn btn-primary btn-md btn-block">Update Cart</button>
        </div>
      </form>
    </div>

  

      
      </div>
    </div>
  </div>
</div><div class="col-md-6 pl-5">
  <div class="row justify-content-end">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-12 text-right border-bottom mb-5">
          <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <span class="text-black">Subtotal</span>
        </div>
        <div class="col-md-6 text-right">
          <strong class="text-black">{{ cart_total }} DH</strong>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-6">
          <span class="text-black">Total</span>
        </div>
        <div class="col-md-6 text-right">
          <strong class="text-black">{{ cart_total }} DH</strong>
        </div><a href="{% url 'checkout' %}" class="btn btn-primary btn-lg btn-block">Proceed To Checkout</a>
      </div>
    </div>
  </div>
</div>


<div class="site-section bg-secondary bg-image" style="background-image: url('{% static 'images/bg_2.jpg' %}');">
  <div class="container">
    <div class="row align-items-stretch">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('{% static 'website/images/bg_1.jpg' %}');">
          <div class="banner-1-inner align-self-center">
            <h2>Produits pharmaceutiques</h2>
            <p>Produits de hautes qualité</p>
          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0">
        <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('{% static 'website/images/bg_2.jpg' %}');">
          <div class="banner-1-inner ml-auto align-self-center">
            <h2>evolué par des experts</h2>
            <p>no experts veillent 24/7 à fournir les medicaments de bonne qualité </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>



   {% load static %}

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

           <div class="block-7">
  <h3 class="footer-heading mb-4">About Us</h3>
  <p>Notre pharmacie en ligne a été fondée pour offrir à chacun un accès simple, rapide et sécurisé à des produits de santé de qualité. Alliant expertise pharmaceutique et innovation technologique, nous nous engageons à accompagner nos clients au quotidien avec sérieux, transparence et efficacité.</p>
</div>


          </div>
          <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
            <h3 class="footer-heading mb-4">types de produits</h3>
            <ul class="list-unstyled">
              <li>Supplements</a></li>
              <li>Vitamines</a></li>
              <li>Régime Nutrition</a></li>
              <li>Tea  Coffee</a></li>
            </ul>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">11000, Sala al jadida , Rabat-sale-kenitre , Rabat , Maroc</li>
                <li class="phone"><a href="tel://23923929210">+212 621839926</a></li>
                <li class="email">yassinelkhantour@gmail.com</li>
              </ul>
            </div>


          </div>
        </div>
    
    

        </div>
      </div>
    </footer>

  </div>
{% load static %}

<script src="{% static 'website/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'website/js/jquery-ui.js' %}"></script>
<script src="{% static 'website/js/popper.min.js' %}"></script>
<script src="{% static 'website/js/bootstrap.min.js' %}"></script>
<script src="{% static 'website/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'website/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'website/js/aos.js' %}"></script>
<script src="{% static 'website/js/main.js' %}"></script>



</body>

</html>